@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
@font-face {
  font-family: 'GothamRounded-Book';
  src: url('../fonts/GothamRounded-Book.eot');
  src: url('../fonts/GothamRounded-Book.eot?#iefix') format('embedded-opentype'),
       url('../fonts/GothamRounded-Book.svg#GothamRounded-Book') format('svg'),
       url('../fonts/GothamRounded-Book.ttf') format('truetype'),
       url('../fonts/GothamRounded-Book.woff') format('woff'),
       url('../fonts/GothamRounded-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


body {font-family: 'GothamRounded-Book', serif;}

.header-section .navbar li a {font-size: 15px; color: #000 !important;}
.header-section .navbar li {margin: 0 10px;}
.header-section .navbar li.current-menu-item {background: #b89297;}
.header-section .navbar li.current-menu-item a {color: #fff !important;}
.header-section .navbar li:hover {background: #b89297;}
.header-section .navbar li:hover a {color: #fff !important;}
.banner-caption {position: absolute; top: 50%; left: 26%; transform: translate(-50%, -50%);}
.banner-caption h1 {color: #b89297; font-size: 50px; font-family: 'Playfair Display'; margin-bottom: 20px;}
.banner-caption h2 {color: #d4d4d4; font-size: 30px;}
.banner-caption .btn.banner-btn {border: 2px solid #818a91; background: transparent; font-size: 17px; text-transform: uppercase; border-radius: 30px; width: 242px; color: #fff; padding: 12px 15px;}
.banner-caption .btn.banner-btn:hover {background: #b89297; border: 2px solid #b89297;}
.strip-section {background: url('../images/add-banner-bg.jpg') no-repeat 0 0 / cover; padding: 30px 0;}
.strip-section h2 {margin-bottom: 0; font-size: 30px; color: #3a3e3a;}
.created-specially-right {max-width: 330px; margin: auto;}
.created-specially-right h3 {color: #a93f3f; font-size: 30px; margin-bottom: 20px; font-family: 'Playfair Display';}
.created-specially-right p {font-size: 14px; color: #3a3e3a; width: 85%;}
.created-specially-right .btn.view-diamond-btn {max-width: 250px; padding: 15px 20px; background: #818a91; border-radius: 30px; color: #fff; font-size: 17px; line-height: 20px;}
.created-specially-right .btn.view-diamond-btn:hover {background: #787c80;}
.ethical-sourced-caption {position: absolute; top: 50%; max-width: 60%; left: 50%; color: #fff; transform: translate(-50%, -50%);}
.ethical-sourced-caption .btn.btn-grown {border: 2px solid #818a91; background: transparent; max-width: 255px; margin: auto; padding: 10px 40px; border-radius: 30px; color: #fff; font-size: 16px;}
.ethical-sourced-caption .btn.btn-grown:hover {background: #b89297; border: 2px solid #b89297;}
.ethical-sourced-caption h3 {font-size: 30px; font-family: 'Playfair Display'; margin-bottom: 20px;}
.ethical-sourced-caption p {font-size: 14px;}
.ecology-sourced-caption {position: absolute; top: 50%; max-width: 70%; width: 70%; left: 50%; color: #fff; transform: translate(-50%, -50%);}
.ecology-sourced-caption .btn.btn-grown {border: 2px solid #fff; background: transparent; max-width: 255px; margin: auto; padding: 10px 40px; border-radius: 30px; color: #fff; font-size: 16px;}
.ecology-sourced-caption .btn.btn-grown:hover {background: #b89297; border: 2px solid #b89297;}
.ecology-sourced-caption h3 {font-size: 30px; font-family: 'Playfair Display'; margin-bottom: 20px;}
.ecology-sourced-caption p {font-size: 14px;}
.instagram-gallery h3 {font-size: 30px; margin-bottom: 20px;}
.footer-section {background: #5f5f60;}
.footer-border-bottom-top {border-top: 2px solid rgb(255 255 255 / 0.1);}
.footer-menu-list li a {color: #a7a7a7; text-decoration: none;}
.footer-menu-list li {margin: 0px 20px; padding: 5px 12px; font-size: 15px;}
.footer-menu-list li:hover {border-bottom: 1px solid #b89297;}
.footer-menu-list li:hover a {color: #b89297;}
.footer-bottom-txt {color: #a7a7a7;}
.instagram-gallery-inner img:hover {position: relative;}
.instagram-gallery-inner img:hover::after {content: ''; width: 100%; position: absolute; background: rgba(0,0,0,0.5); height: 100%;}
.banner-slider-caption {position: absolute; max-width: 500px; left: 27%; top: 50%; color: #fff; transform: translate(-50%, -50%);}
.banner-slider-caption .btn.btn-our-jewelry {border: 2px solid #818a91; background: transparent; font-size: 16px; color: #fff; border-radius: 30px; padding: 10px 30px;}
.banner-slider-caption .btn.btn-our-jewelry:hover {background: #b89297; border: 2px solid #b89297;}
.banner-slider-caption h3 {font-size: 30px; font-family: 'Playfair Display'; margin-bottom: 20px;}
.our-jewelry-slider .slider-counter {position: absolute; bottom: 13%; z-index: 9; left: 13%; color: #fff; font-size: 13px;}
.our-jewelry-slider .owl-nav i {color: #fff;}
.our-jewelry-slider .owl-nav {position: absolute; left: 10%; bottom: 12.5%;}
.our-jewelry-slider .owl-nav button.owl-prev {margin-right: 30px;}
.our-jewelry-slider .owl-nav button.owl-next {margin-left: 50px}
.instagram-gallery-inner figure + .insta-icon {position: absolute; text-align: center; width: 100%; height: 100%; top: 0; z-index: 9; background: rgba(0,0,0,0.5); color: #fff; display: none;}
.instagram-gallery-inner figure:hover + .insta-icon {display: block;}

.instagram-gallery-inner .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  margin: auto;
  overflow: hidden;
}
.content a {color: #fff;}
.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}


.instagram-gallery {background: #d9d3cb;}
.shop-diamond-shape {padding-bottom: 90px;}
.glb-heading h3 span {background: #fff; position: relative; z-index: 9; padding: 0 30px; font-family: 'Playfair Display';}
.glb-heading h3::after {content: ''; position: absolute; left: 50%; width: 50%; height: 1px; background: #ddd; top: 15px;}
.glb-heading h3::before {content: ''; position: absolute; right: 50%; width: 50%; height: 1px; background: #ddd; top: 15px;}
.shop-diamond-shape {padding-bottom: 90px;}
.diamond-spirit-img {text-align: center !important; margin: 0 26px !important; cursor: pointer !important; width: 62px !important; height: 100px !important; background: url('../images/diamond-spirits.png') !important;}
.diamond-spirit-img img {height: 62px; display: none;}
.diamond-spirit-img p {margin-bottom: 0; margin-top: 80px;}
.diamond-spirit-img:hover p {color: #59695e;}
.diff-diamond-images {padding-top: 40px;}
.round.diamond-spirit-img {background-position: -30px -36px !important;}
.oval.diamond-spirit-img {background-position: -29px -141px !important;}
.cushion.diamond-spirit-img {background-position: -30px -251px !important;}
.princess.diamond-spirit-img {background-position: -31px -359px !important;}
.pear.diamond-spirit-img {background-position: -30px -470px !important;}
.emerald.diamond-spirit-img {background-position: -32px -589px !important;}
.marquise.diamond-spirit-img {background-position: -280px -28px !important; height: 77px;}
.asscher.diamond-spirit-img {background-position: -280px -140px !important;}
.radient.diamond-spirit-img {background-position: -282px -251px !important;}
.heart.diamond-spirit-img {background-position: -281px -360px !important;}
.pb-7, .py-7 {padding-bottom: 5rem!important;}
.pt-7, .py-7 {padding-top: 5rem!important;}
.max-width-345 {max-width: 345px;}

/***********************Our Story Page Start*************************/

.banner-section.our-story h1 {color: #000;}
.banner-section.our-story h2 {color: #fff;}
.max-width-500 {max-width: 500px;}

/***********************Our Story Page End*************************/

















.diamond-right-details h2 {color: #a93f3f; font-size: 24px; line-height: 1.5;}
.diamond-right-details p {color: #1e1e1e; font-size: 16px; line-height: 1.5;}
.diamond-price label {color: #a93f3f; font-size: 18px;}
.diamond-price span {color: #1e1e1e; font-size: 14px;}
.diamond-right-details .btn {width: 100%; max-width: 300px; height: 41px; line-height: 25px; color: #fff; padding: 7px 15px; border-radius: 0; font-size: 14px;}
.diamond-right-details .btn.btn-add-ring {background: #b89297;}
.diamond-right-details .btn.btn-add-wishlist {background: #404040;}
.max-width-300 {max-width: 300px;}
.contact-social-icon ul li.social-icon {padding: 14px 0; border-top: 1px solid #f3f3f3; border-bottom: 1px solid #f3f3f3;}
.contact-social-icon ul li a {margin: 0 10px; color: #59695e;}
.contact-info .top-inner-left i {margin-right: 10px;}
.diamond-detail-wrapper h3 {font-size: 24px; border-bottom: 1px solid #f3f3f3; font-weight: 300; padding: 0 30px 15px; margin-bottom: 25px;}
.ring-dtl-row {flex-basis: 50%; font-size: 12px;}
.ring-dtl-row label {font-weight: bold; flex-basis: 40%;}
.bg-f8f8f8 {background: #f8f8f8;}
.color-a93f3f {color: #a93f3f;}
.diamond-detail-wrapper h3 {font-size: 24px; border-bottom: 1px solid #f3f3f3; font-weight: 300; padding: 0 30px 15px; margin-bottom: 25px;}
.map-img {background: url('../images/map.png') no-repeat 0 0 / 100%; width: 100%; height: 400px;}
.font-14 {font-size: 14px;}


.diamond-listing-wrapper .top-banner-heading {background: #ede7e7; padding: 50px;}
.diamond-listing-wrapper .top-banner-heading h1 {color: #a93f3f; font-size: 30px; line-height: 1.5;}
.diamond-listing-wrapper .top-banner-heading p {color: #7d7d7d; max-width: 60%; margin: auto;}

.product-information-details .col-sm-4.custom-col-sm-4 {
  flex: 0 0 36%;
  max-width: 36%;
}
.product-information-details .col-sm-8.custom-col-sm-8 {
  flex: 0 0 64%;
  max-width: 64%;
}

.product-information-details {
  margin: 0 30px;
}
.advanced-filter-row .l-text {
  font-weight: 600;
  font-size: 16px;
}
.advanced-filter-row .l-text a.collapsed i {
  transform: rotate(0deg);
  line-height: 17px;
  vertical-align: middle;
}
.advanced-filter-row .l-text a i {
  transform: rotate(180deg);
  line-height: 17px;
  vertical-align: middle;
}
.advanced-filter-row .r-text {
  text-decoration: underline;
  font-size: 16px;
}
.product-info-inner {
  border: 1px solid #f7f7f7;
}
.product-info-inner h3 {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  border-bottom: 1px solid #f7f7f7;
  padding: 20px;
}
.product-small-info-inner {
  margin-top: -32px;
}
.product-small-info-inner img {
  border: 1px solid rgb(175 175 175 / 50%);
  padding: 10px;
  width: 75px;
  margin: 0 10px;
}
.product-info-btn .btn.btn-ad-ring {
  padding: 7px 20px;
  background: #b89297;
  color: #fff;
  border-radius: 0;
  min-width: 167px;
  margin: 0 15px;
}
.product-info-btn .btn.btn-ad-compare {
  padding: 7px 20px;
  background: #404040;
  color: #fff;
  border-radius: 0;
  min-width: 167px;
  margin: 0 15px;
}
.product-info-inner .product-description {
  padding: 35px 20px 38px;
}
.product-description h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}
.product-description .prodct-desc-inner .prodct-desc-row:nth-child(odd) {
  flex-basis: 40%;
}
.product-description .prodct-desc-inner .prodct-desc-row {
  font-size: 12px;
  line-height: 16px;
}
.product-description .prodct-desc-inner .prodct-desc-row:nth-child(even) {
  flex-basis: 60%;
}
.product-description .prodct-desc-inner .prodct-desc-row label {
  font-weight: 600;
  margin-bottom: 0;
  flex-basis: 50%;
}
.product-description .prodct-desc-inner .prodct-desc-row span {
  flex-basis: 50%;
}
.product-description .prodct-desc-inner .prodct-desc-row:nth-child(even) label {
  flex-basis: 40%;
}
.product-description .prodct-desc-inner .prodct-desc-row:nth-child(even) span {
  flex-basis: 60%;
}
.product-description .prodct-desc-inner .prodct-desc-row span {
  flex-basis: 50%;
}
.product-desc-view-more {
  border-top: 1px solid #f7f7f7;
  padding: 20px 20px 21px;
}
.product-desc-view-more a {
  font-size: 16px;
  text-decoration: underline;
  font-weight: bold;
  color: #59695e;
}

.product-info-tabs {
  border: 1px solid #f7f7f7;
}
.product-info-tabs .nav-tabs {
  border-bottom: none;
}
.product-info-tabs .nav-tabs li.active {
  border-bottom: 1px solid #b89297;
}
.product-info-tabs ul li {
  border-left: none;
  font-size: 16px;
  flex-basis: 33.33%;
  text-align: center;
  padding: 0;
  border-right: 1px solid #fffbfb;
}
.product-info-tabs .nav-tabs li.active a {
  border-bottom: 1px solid #b89297;
  background: #b89297;
}
.product-info-tabs .nav-tabs li a {
  padding: 20px 0;
  display: block;
  border-bottom: 1px solid #707070;
  background: #707070;
  color: #fff;
}
.product-info-tabs .table thead th {
  border-bottom: none;
  border-top: none;
  text-align: center;
  background: #b89297;
  color: #fff;
  font-size: 15px;
}
.results-table .sort-by span {
  position: absolute;
  padding-left: 7px;
  margin-top: 6px;
}
.results-table .sort-by span i {
  height: 8px;
  display: block;
  font-size: 14px;
}
.product-info-tabs .table tbody tr:nth-child(odd) {
  background: #f7f7f7;
}
.product-info-tabs .table tr.selected-row {
  border: 1px solid #59695e;
}
.product-info-tabs .table tr.selected-row td {
  border: none;
  border-bottom: 1px solid #59695e;
}
.product-info-tabs .table td {
  border-top: 1px solid #f7f7f7;
  text-align: center;
  font-size: 15px;
}
.pagination-row ul {
  padding: 0;
  margin: 0;
}
.pagination-row ul li.active {
  background: #59695e;
  color: #fff;
  text-decoration: none;
}
.pagination-row ul li {
  list-style-type: none;
  width: 28px;
  line-height: 26px;
  margin: 0 2px;
  text-decoration: underline;
  height: 28px;
  border-right: none;
  padding: 0;
  flex-basis: auto;
  background: #fff;
  color: #59695e;
}



.filter-section-wrapper {
  margin: 0 30px;
  padding: 0 0 30px;
}
.filter-row-inner .gbl-spacing {
  flex-basis: 33%;
  padding: 0 30px;
}
.filter-row-inner .gbl-spacing {
  flex-basis: 33%;
  padding: 0 30px;
}
.nu-custom-range-slider {
  flex-basis: 80%;
}
.nu-custom-range-slider .ui-widget.ui-widget-content {
  border: 1px solid #ebebeb;
  background: #ebebeb;
  border-radius: 30px;
  height: 7px;
}
.nu-custom-range-slider .ui-slider .ui-slider-range {
  background: #a93f3f;
}
.nu-custom-range-slider .ui-state-default, .nu-custom-range-slider .ui-widget-content .ui-state-default {
  border: 1px solid #a93f3f;
  background: #a93f3f;
  border-radius: 50%;
  top: -4px;
  outline: none;
  width: 14px;
  height: 14px;
}

.nu-custom-range-slider .range-slider {
  margin-top: 20px;
}
.rangebar-custom-label li {
  list-style-type: none; font-size: 13px;
}
.shape-certificate-row .shape-left label {
  margin-bottom: 0;
  font-weight: bold;
  margin-right: 20px;
  font-size: 16px;
}
.shape-certificate-row .shape-left .diff-diamond-images .diamond-spirit-img {
  margin: 0 10px;
}

.shape-certificate-row .shape-left .diff-diamond-images .diamond-spirit-img img {
  width: 18px;
  height: auto;
}
.shape-certificate-row .diamond-spirit-img img {
  display: inline-block;
}
.diamond-spirit-img img {
  height: 62px;
  display: none;
}
.round.diamond-spirit-img {
  background-position: -30px -36px !important;
}
.diamond-spirit-img {
  text-align: center;
  margin: 0 26px;
  cursor: pointer;
  width: auto;
  height: auto;
  background: url('../images/diamond-img/diamond-spirits.png');
}

.advanced-filter-row::before {content: ''; position: absolute; width: 40%; height: 1px; background: #ccc; left: 0; top: 28px;}
.advanced-filter-row::after {content: ''; position: absolute; width: 40%; height: 1px; background: #ccc; right: 0; top: 28px;}
.filter-heading {font-size: 15px;}
.banner-slider-caption.lovingly-banner-text {left: auto; right: -4%; max-width: 400px;}

/**********Best Seller CSS Start******************/

.best-seller-wrapper {padding: 60px 0 40px;}
.best-seller-wrapper h3 p {margin-bottom: 50px;}
.best-seller-wrapper h3 span {background: #fff; position: relative; z-index: 9; padding: 0 30px; font-family: 'Playfair Display';}
.best-seller-wrapper h3::after {content: ''; position: absolute; left: 50%; width: 50%; height: 1px; background: #ddd; top: 15px;}
.best-seller-wrapper h3::before {content: ''; position: absolute; right: 50%; width: 50%; height: 1px; background: #ddd; top: 15px;}
.slider-img-caption {text-align: center;}
.slider-img-caption > label {display: block; font-size: 16px; line-height: 1.12; font-weight: bold; color: #a93f3f;}
.slider-img-caption > span {display: block; color: #afafaf; font-size: 12px; line-height: 1.25;}
.product_price {margin-top: 10px;}
.product_price .Price-amount {font-size: 20px; color: #59695e;}
.slick-prev:before, .slick-next:before { font-family: "slick"; display: none; font-size: 40px; line-height: 1; color: #333; opacity: 0.75; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }   
.slick-prev:before { content: "‹"; }
[dir="rtl"] .slick-prev:before { content: "›"; }
[dir="rtl"] .slick-next { left: -10px; top: 70px; right: auto; }
.slick-next:before { content: "›"; }
[dir="rtl"] .slick-next:before { content: "‹"; }
.best-seller-slider .slick-next.slick-arrow {background: url('../images/next-icon.png') no-repeat center / 10px; width: 20px; height: 20px; right: -70px;}
.best-seller-slider .slick-prev.slick-arrow {background: url('../images/next-icon.png') no-repeat center / 10px; width: 20px; height: 20px; transform: rotate(180deg); left: -70px;}
.shop-by-style-slider .slick-next.slick-arrow {background: url('../images/next-icon.png') no-repeat center / 10px; width: 20px; height: 20px; right: -70px;}
.shop-by-style-slider .slick-prev.slick-arrow {background: url('../images/next-icon.png') no-repeat center / 10px; width: 20px; height: 20px; transform: rotate(180deg); left: -70px;}
.best-seller-slider .item {padding-bottom: 20px; border: 2px solid #fff;}
.best-seller-slider .item:hover {border: 2px solid #f3f3f3;}
.shop-by-style-slider .slider-img-caption {margin-top: 25px; cursor: pointer;}
.shop-by-style-slider .slider-img-caption > label {font-size: 24px; font-weight: 300; color: #333; margin-bottom: 10px;}
.shop-by-style-slider .slider-img-caption > span {font-size: 15px; color: #333;}
.shop-by-style-slider .slick-slide {margin-left:30px;}
.shop-by-style-slider .slick-list {margin-left:-30px;}
.shop-by-style {padding-bottom: 60px;}
.shop-by-style-slider .item {cursor: pointer;}
.shop-by-style-slider .slider-img-caption:hover > label {color: #59695e;}
.best-seller-wrapper.shop-by-style .view-all-btn a {width: 130px; font-size: 10px; border: 1px solid #59695e; padding: 5px 20px;}

/**********Best Seller CSS End******************/











.customize-ur-ring-wrapper .top-heading {padding: 50px 0 100px; background: #000; text-align: center;}
.customize-ur-ring-wrapper h1 {color: #fff; margin-bottom: 0; font-weight: 300; font-size: 50px; font-family: 'Playfair Display';}
.customize-ring-top-heading h2 {text-transform: uppercase; color: #be7474; font-size: 24px; margin-bottom: 20px; font-family: 'Playfair Display';}
.customize-ring-form{background: #ede7e7; padding: 60px 0 100px;}
.customize-ring-top-heading p {color: #888; font-size: 16px; line-height: 1.5;}
.customize-ring-form .form-group {margin-bottom: 35px;}
.customize-ring-form .form-group label {color: #888; font-size: 16px; line-height: 1.5;}
.customize-ring-form .form-group .form-control {height: 50px !important; border-radius: 0; border: 1px solid #333;}
.customize-ring-form .form-group textarea.form-control {height: 167px !important;}
.customize-submit-btn {background: #818a91; height: 50px; width: 200px; border: none; color: #fff; font-size: 18px; font-weight: 400;}
.customize-ring-top-heading {width: 50%;}

.page-id-35559 .container.page-container {width: 100%; padding: 0; max-width: 100%;}
.page-id-35568 .container.page-container {width: 100%; padding: 0; max-width: 100%;}
.customize-ring-top-heading p {padding: 0 !important;}


.footer-menu-list ul li.current-menu-item {background: #b89297;}
.footer-menu-list ul li.current-menu-item a {color: #fff;}


/*********************Education Page Start***********************/

.education-banner .banner-caption {left: 32%;}
.education-banner .banner-caption h1 {color: #d4d4d4;}
.education-banner .banner-caption h2 {color: #efefef;}
.max-width-400 {max-width: 400px;}
.dont-compreomize-section {background: #b89297; padding: 100px 0;}
.dont-compreomize-inner h3 {font-family: 'Playfair Display'; font-size: 30px;}

/*********************Education Page End*********************/

/*********************Contact Us Page Start***********************/

.inquiry-section {background: #ede7e7;}
.inquiry-section-right .inquiry-row label {font-family: 'Playfair Display'; font-size: 20px; color: #a93f3f; margin-bottom: 15px;} 
.inquiry-section-right .inquiry-row p {font-size: 16px;}
.inquiry-section-right {padding: 100px;}
.contact-social-icons li {margin-right: 15px;}
.contact-left-info-row h3 {font-size: 22px; font-family: 'Playfair Display'; color: #a93f3f; font-weight: 500;}
.contact-left-info-row p {font-size: 16px; color: #7d7d7d;}
.color-red {color: #a93f3f;}
.contact-left-info-row {border-bottom: 1px solid rgb(112 112 112 / 0.20);}
.more-info-direction span {color: #a93f3f; font-weight: 600; font-size: 15px; margin-right: 60px;}
.more-info-direction a {color: #a93f3f;}
.contact-search-row .form-control {height: 50px; border-radius: 0; border: 1px solid #373a3c; width: 90%;}
.contact-search-row span {position: absolute; right: 0; top: 15px;}
.contact-search-row span i {color: #a93f3f; font-size: 20px;}
.contact-info-dtl {max-height: 570px; overflow: auto;}

/*********************Contact Us Page End***********************/


/********************Schedule Appointment Page Start************************/

.schedule-appointment-div [type="radio"]:checked,
.schedule-appointment-div [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.schedule-appointment-div [type="radio"]:checked + label,
.schedule-appointment-div [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #a93f3f;
}
.schedule-appointment-div [type="radio"]:checked + label:before,
.schedule-appointment-div [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 4px;
    width: 15px;
    height: 15px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
.schedule-appointment-div [type="radio"]:checked + label:after,
.schedule-appointment-div [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 9px;
    height: 9px;
    background: #a93f3f;
    position: absolute;
    top: 7px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.schedule-appointment-div [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.schedule-appointment-div [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.schedule-appointment-div {display: inline-block; font-family: 'Playfair Display'; font-size: 20px; margin-right: 30px;}
.or-txt {font-size: 14px; font-family: 'GothamRounded-Book';}

/********************Schedule Appointment Page End************************/



@media (max-width: 1024px) {
  .best-seller-slider .slick-next.slick-arrow {right: 0;}
  .best-seller-slider .slick-prev.slick-arrow {left: 0;}
  .pt-7, .py-7 {padding-top: 3rem !important;}
  .pb-7, .py-7 {padding-bottom: 3rem !important;}
  .diamond-spirit-img {margin: 20px 26px !important;}
  .diff-diamond-images {padding-top: 0;}
  .banner-slider-caption.lovingly-banner-text {right: -15%;}
  .banner-caption {left: 32%;}
  .inquiry-section-right {padding: 10px 30px;}
}




@media (max-width: 991px) {
	.header-section .navbar .navbar-toggler {position: absolute; right: 0; top: -60px;}
	.header-section .navbar li {margin: 0;}
	.header-section .navbar .navbar-nav {margin-top: 20px;}
	.header-section .navbar {padding: 0;}
	.footer-menu-list li {margin: 0px 6px; font-size: 15px;}
	.our-jewelry-slider .slider-counter {bottom: 58px; z-index: 9; left: 15%;}
	.strip-section h2 {font-size: 16px; line-height: 1.5; padding: 0 15px;}
	.created-specially-right h3 {font-size: 20px;}
	.created-specially-right {max-width: 100%; margin: 20px 0; height: auto !important;}
	.banner-caption h1 {font-size: 24px; margin-bottom: 10px;}
	.banner-caption h2 {font-size: 20px; margin-bottom: 10px;}
	.banner-caption .btn.banner-btn {border: 2px solid #818a91; font-size: 14px; text-transform: uppercase; border-radius: 30px; width: 150px; color: #fff; padding: 8px 10px;}
  .banner-slider-caption h3 {font-size: 24px;}
  .banner-slider-caption.lovingly-banner-text {right: -24%;}
  .schedule-appointment-div {font-size: 17px; margin-right: 20px;}
  .customize-ur-ring-wrapper h1 {font-size: 35px;}
  .customize-ring-form .form-group label {font-size: 14px;}
}

@media (max-width: 767px) {
  .banner-caption {left: 34%; top: 50%;}
  .strip-section {padding: 16px 0;}
  .created-specially-right p {width: 100%;}
  .created-specially-right .btn.view-diamond-btn {max-width: 210px; padding: 10px 20px; font-size: 14px;}
	.strip-section h2 {font-size: 14px; line-height: 1.5; padding: 0 15px;}
	.created-specially-right h3 {font-size: 20px;}
	.created-specially-right {max-width: 100%; margin: 20px 0; height: auto !important;}
	.footer-menu-list li {margin: 0 2px; display: inline-block; font-size: 14px;} 
	.instagram-gallery h3 {font-size: 20px; margin-bottom: 0;}
	.banner-caption h1 {font-size: 16px; margin-bottom: 10px;}
	.banner-caption h2 {font-size: 14px; margin-bottom: 10px;}
	.banner-caption .btn.banner-btn {border: 2px solid #818a91; font-size: 12px; border-radius: 30px; width: 120px; padding: 6px 10px;}
	.banner-slider-caption h3 {font-size: 24px;}
	.our-jewelry-slider .slider-counter {bottom: 55px; left: 20%;}
	.header-section .navbar .navbar-toggler {position: absolute; right: 0; top: -44px;}
	.header-section .navbar li {margin: 0;}
	.header-section .navbar .navbar-nav {margin-top: 20px;}
	.header-section .navbar {padding: 0;}
  .header-section .navbar li a {font-size: 14px;}
  .ecology-sourced-caption h3 , .ethical-sourced-caption h3 {font-size: 22px; max-width: 100%;}
  .ethical-sourced-caption , .ecology-sourced-caption {max-width: 100%; width: 100%; padding: 0 15px;}
  .max-width-300 {max-width: 100%;}
  .ecology-progressive-banner .banner-slider-caption {left: 50%; width: 100%; padding: 0 15px; text-align: center;}
  .ecology-progressive-banner .banner-slider-caption h3 {font-size: 22px;}
  .ecology-progressive-banner .banner-slider-caption p {font-size: 14px;}
  .diamond-spirit-img p {font-size: 14px; margin-top: 70px;}
  .diamond-spirit-img {margin: 8px 26px !important;}
  .pt-7, .py-7 {padding-top: 2rem !important;}
  .pb-7, .py-7 {padding-bottom: 2rem !important;}
  .glb-heading h3 span , .best-seller-wrapper h3 span {font-size: 16px; padding: 0 10px;}
  .banner-slider-caption .btn.btn-our-jewelry , .ethical-sourced-caption .btn.btn-grown , .ecology-sourced-caption .btn.btn-grown {font-size: 14px;}
  .slider-img-caption > label {font-size: 14px;}
  .slick-slide img {margin: auto;}
  .best-seller-wrapper h3::after , .best-seller-wrapper h3::before {width: 46%; top: 20px;}
  .glb-heading h3::after , .glb-heading h3::before {width: 46%; top: 20px;} 
  .diff-diamond-images {padding-top: 0;}
  .education-banner .banner-caption {left: 37%;}
  .dont-compreomize-section {padding: 40px 0;}
  .dont-compreomize-inner h3 {font-size: 22px;}
  .dont-compreomize-inner p {font-size: 14px; width: 100% !important;}
  .xs-py-0 {padding: 0 !important;}
  .customize-ring-top-heading p br {display: none;}
  .customize-ring-form {padding: 30px 0 30px;}
  .inquiry-section-right {padding: 15px 0;}
  .inquiry-section-right .inquiry-row label {font-size: 18px; margin-bottom: 5px;}
  .inquiry-section-right .inquiry-row p {font-size: 14px;}
  .contact-social-icons li i {font-size: 14px;}
  .contact-left-info-row h3 {font-size: 18px;}
  .contact-left-info-row p {font-size: 14px;}
  .more-info-direction span {font-size: 12px;}
  .contact-search-row .form-control {font-size: 14px; height: 40px;}
  .contact-search-row span {top: 10px;}



  .diamond-detail-wrapper .diamond-dtls .ring-dtl-row label {font-size: 11px; margin-right: 5px;}
  .diamond-detail-wrapper .diamond-dtls .ring-dtl-row span {font-size: 11px;}
  .diamond-listing-wrapper .top-banner-heading p {max-width: 100%; font-size: 14px;}
  .diamond-listing-wrapper .top-banner-heading h1 {font-size: 20px;}
  .product-information-details .col-sm-4.custom-col-sm-4 {flex: 0 0 100%; max-width: 100%;}
  .product-information-details .col-sm-8.custom-col-sm-8 {flex: 0 0 100%; max-width: 100%;}
  .mobile-filter-section-wrapper {padding: 0;}
  .mob-filter-sec-inner .filter-row-inner .gbl-spacing {flex-basis: 100%; padding: 0; margin-bottom: 20px;}
  .mob-filter-sec-inner .gbl-spacing .filter-heading {text-align: center; position: relative; font-size: 12px; margin-bottom: 20px;}
  .mob-filter-sec-inner > .total-diamonds {font-size: 12px; border-bottom: 1px solid #f7f7f7; padding: 15px 20px 15px;}
  .mob-filter-sec-inner .btn.filter-btn {width: 100%; text-align: left; padding: 7px 20px; border-radius: 0; color: #b89297;}
  .mob-filter-sec-inner .btn.filter-btn span {float: right;}
  .product-information-details {margin: 0;}
  .product-info-tabs .table td {font-size: 11px; padding: 15px 0;}
  .product-info-tabs .table thead th {font-size: 12px;}
  .product-info-btn .btn.btn-ad-ring {padding: 7px 20px; background: #59695e; color: #fff; border-radius: 0; min-width: 134px; margin: 0 7px; font-size: 12px;}
  .product-info-btn .btn-ad-compare {padding: 7px 20px; color: #fff; border-radius: 0; min-width: 134px; margin: 0 7px; font-size: 12px;}
  .product-description .prodct-desc-inner .prodct-desc-row {line-height: 20px;}
  .product-description .prodct-desc-inner .prodct-desc-row label {flex-basis: 60%;}
  .product-description .prodct-desc-inner .prodct-desc-row span {flex-basis: 40%;}
  .mob-filter-sec-inner .gbl-spacing .filter-heading {text-align: center; position: relative; font-size: 12px; margin-bottom: 20px;}
  .mob-filter-sec-inner .gbl-spacing .filter-heading::before {content: ''; position: absolute; right: 50%; width: 50%; height: 1px; background: #ddd; top: 8px;}
  .mob-filter-sec-inner .gbl-spacing .filter-heading::after {content: ''; position: absolute; left: 50%; width: 50%; height: 1px; background: #ddd; top: 8px;}
  .mob-filter-sec-inner .gbl-spacing .filter-heading span {background: #fff; position: relative; z-index: 9; padding: 0 20px;}
  .shape-certificate-row .shape-left .diff-diamond-images .diamond-spirit-img {margin: 8px 0; flex-basis: 20%;}
  .shape-certificate-row .shape-left .diff-diamond-images .diamond-spirit-img img {width: 26px; height: 32px;}
  .shape-certificate-row .shape-left .diff-diamond-images .diamond-spirit-img span {display: block; font-size: 7px; margin-top: 9px;}
  .advanced-filter-main h3 {font-size: 18px;}




  .customize-ur-ring-wrapper .top-heading {padding: 40px 30px 40px;}
  .customize-ur-ring-wrapper h1 {font-size: 24px; line-height: 1.5;}
  .customize-ring-top-heading {width: 100%;}
  .customize-ring-top-heading h2 {font-size: 17px;}
  .customize-ring-top-heading p {font-size: 13px;}
  .customize-ring-form .form-group label {font-size: 14px;}
  .customize-ring-form .form-group label span {color: #ff0000;}
  .customize-ring-form .form-group .form-control {height: 45px;}
  .customize-ring-form .form-group {margin-bottom: 20px;}
  .customize-ring-form .form-group textarea.form-control {height: 130px;}
  .customize-submit-btn {height: 45px; width: 100%; font-size: 15px;}
  .customize-ring-form .form-group .form-control {font-size: 14px;}



}